.profile {
  padding: 10px;
  margin: 30px auto;
  text-align: center;
  box-shadow: 2px 2px 10px 5px black;
  width: 30%;
  font-weight: 800;

}

.avatar {
  margin-bottom: 30px;
}


li {
  list-style: none;
}
